body{ 
	background-color: Grey;
 }
.sod{ 
	background-color: Cyan ;
	border: 1px black solid;
}
.doc{
width: 210mm;
text-indent: 35px;
background-color: White;
margin: auto;
padding: 20mm 20mm 2cm 3cm;
}
.kod{ 
background-color: NavajoWhite;
border: 1px black solid;
text-indent: 1px;
padding: 2mm 2mm 2mm 3mm;
}
.text{
background-color: Cornsilk;
border: 1px black solid;
}
.redd{
 color: Red;
 }
.bluee{ 
color: Blue;
}
.greenn{ 
color: Green;

 }
.indigoo{
color: Indigo;
}
.im{
float: left;
}
.tabl{
border: 1 solid Black;
margin: auto;	
}
figcaption{
text-align: center;
}
ul li{
list-style: square;
}
