td { width: 40px; height: 40px; text-align: center; }
th { width: 40px; height: 40px; text-align: center; }
.otstup {height: 550px;}
.bbq {display: inline-block;}
.margarita {display: inline-block;}
.chicekn {display: inline-block;}
.veganskaya {display: inline-block;}
.gribnaya {display: inline-block;}
.paprica {display: inline-block;}
.meet {display: inline-block;}

