body{ 
	background-color: Grey;
 }
/* .alldoc{https://yandex.ru/?from=tabbar
width: 210mm;
text-indent: 35px;
background-color: White;
margin: auto;
padding: 20mm 20mm 20mm 3mm;
}*/
.header{
background-color: Green;
text-align: center;
}
.menu{
height:200px;
width:300px;
border: 1px red solid;
background-color: Orange;
padding: 2mm 2mm 2mm 3mm;
font-size: 35px;
color: #FFA500;
}
.bio{
border: 1px magenta solid;
background-color: Yellow;
padding: 2mm 2mm 2mm 3mm;
font-size: 35px;
}
.imgobt{
float: left; 
margin: 7px 7px 7px 0;
width:300px; height:250px;
}
.tvor{
border: 1px blue solid;
background-color: Magenta;
padding: 2mm 2mm 2mm 3mm;
}
.svyaz{
border: 1px orange solid;
background-color: Blue;
padding: 2mm 2mm 2mm 3mm;
}
.recl{
height:200px;
width:1600px;
border: 1px green solid;
background-color: Red;
padding: 2mm 2mm 2mm 3mm;
}
.sborka{
display: flex;
flex-direction: row;	
}
