body  { background-color: #808080; }

a:link { color: #FF00FF; }
a:visited { color: #FF00FF; }
a:hover { color: #FF00FF; }
a:active { color: #FF00FF; }
a:hover{ background-color: #FFD700; }

.button1 { display: none; }
.button1:target { display: block; }
.button2 { display: none; }
.button2:target { display: block; }
.button3 { display: none; }
.button3:target { display: block; }

p:first-letter { font-family: Arial; font-size: 50px; color: #FFD700;}

tr:first-child { bgcolor: black; color: red; }

tr:nth-child(even) { background-color: #FF00FF; color: #FFD700;}
tr:nth-child(odd) { background-color: #FFFFFF; color: #FFD700; }

td { width: 40px; height: 40px; text-align: center; }
th { width: 40px; height: 40px; text-align: center; }

.st1 { background-color: #7FFFD4; border: 10px inset #FFFF00; padding: 10px; font-size: 25px; }
.st2 { background-color: #7B68EE; border: 10px dashed #FFFF00; padding: 10px; font-size: 25px; }
.st3 { background-color: #191970; border: 10px double #FFFF00; padding: 10px; font-size: 25px; }
